#displayData {
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px; 
}

#nameGen { 
    font-size: 20px; 
}

#generalSection {
    border: 1px solid blue; 
    width: 240px; 
    margin-bottom: 10px; 
}

#educationSection {
    border: 1px solid red; 
    margin-bottom: 10px; 
}

#experienceSection {
    border: 1px solid yellow; 
    margin-top: 10px; 
}


