#education-container {
    display: flex; 
    flex-direction: column; 
    width: 200px; 
    order: 1; 
    margin-left: 20px; 
}

#label-major {
    margin-top: 7px; 
}

#label-degree {
    margin-top: 7px; 
}

#label-date {
    margin-top: 7px; 
}

#buttonEducation {
    width: 150px; 
    height: 25px; 
    margin: 0 auto; 
    margin-top: 10px; 
    margin-right: 1px; 
    font-size: 10px;   
}

#buttonEditEdu {
    width: 100px; 
    height: 25px;
    margin: 0 auto; 
    margin-top: 10px; 
    order: 1; 
}

#button-Container {
    display: flex; 
    width: 200px; 
}