#container {
    display: flex; 
    flex-direction: column; 
    width: 200px; 
    order: 0;
}

#label-name {
    margin-right: 5px; 
}

#label-email {
    margin-right: 5px; 
    margin-top: 7px; 
}

#label-phone {
    margin-right: 5px; 
    margin-top: 7px; 
}

#buttonGeneral {
    width: 150px; 
    margin: 0 auto; 
    margin-top: 10px;
    margin-right: 1px; 
    font-size: 10px;  
}

#buttonEditGen {
    width: 100px; 
    height: 25px; 
    margin: 0 auto; 
    margin-top: 10px; 
    order: 1;
}
